body{
    margin: 0px;
    padding: 0px;
    font-family: 'Epilogue', sans-serif;
    color:#fff;
}

.bgGrad{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.shadow{
    border: 0px;
    box-shadow: 0px 1px 5px 0px pink;
}

.vid{
    width: 61vw;
    height: 71vh;
}

.page{
	padding:0px;
    height: 100vh;
}